/vendor/
/debian/debhelper-build-stamp
/debian/cron-abraflexi-matcher/
/debian/abraflexi-matcher/
/debian/abraflexi-matcher.debhelper.log
/debian/abraflexi-matcher.postrm.debhelper
/debian/abraflexi-matcher.substvars
/.vagrant/
/nbproject/private/
/debian/files
/debian/.debhelper/
/debian/abraflexi-matcher/
/.env
/debian/cron-abraflexi-matcher.debhelper.log
/debian/cron-abraflexi-matcher.substvars
/.phpunit.result.cache
/debian/multiflexi-abraflexi-matcher/
/debian/multiflexi-abraflexi-matcher.substvars
/debian/multiflexi-abraflexi-matcher.debhelper.log
/.vscode/
/.php-cs-fixer.cache
/.build/
