/vendor/
/composer.lock
/debian/debhelper-build-stamp
/debian/cron-abraflexi-matcher/
/debian/abraflexi-matcher/
/debian/abraflexi-matcher.debhelper.log
/debian/abraflexi-matcher.postrm.debhelper
/debian/abraflexi-matcher.substvars
/.vagrant/
/nbproject/private/
/debian/files
/debian/.debhelper/
/debian/abraflexi-matcher/
/.env
