/vendor/
/composer.lock
/debian/debhelper-build-stamp
/debian/flexibee-matcher/
/debian/flexibee-matcher.debhelper.log
/debian/flexibee-matcher.postrm.debhelper
/debian/flexibee-matcher.substvars
/.vagrant/
/nbproject/private/
/debian/files
/debian/.debhelper/