Source: abraflexi-matcher
Build-Depends: debhelper (>= 7.0.50~), po-debconf, jq, moreutils
Standards-Version: 4.3.0
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Section: office
Priority: optional
Homepage: https://github.com/VitexSoftware/php-abraflexi-matcher

Package: abraflexi-matcher
Depends: ${misc:Depends}, php-spojenet-abraflexi (>=3.6), php-vitexsoftware-abraflexi-bricks (>=1.1), php-cli
Pre-Depends: debconf
Suggests: abraflexi-server, abraflexi-client-config
Replaces: flexibee-matcher
Architecture: all
Section: web
Priority: optional
Description: External matcher for Abra Flexi
 Match payments & invoices in Abra Flexi using PHP Library php-abraflexi

Package: cron-abraflexi-matcher
Depends: cron, abraflexi-matcher
Architecture: all
Section: web
Priority: optional
Description: Match invoices every hour
 Cron configuration for periodical abraflexi-matcher lanunches

Package: multiflexi-abraflexi-matcher
Depends: abraflexi-matcher, multiflexi-cli
Architecture: all
Section: office
Priority: optional
Description: Add External matcher for Abra Flexi to MultiFlexi
 Match payments & invoices in Abra Flexi using MultiFlexi every day
