#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	sed -i -e 's/..\/vendor/\/var\/lib\/abraflexi-matcher/g'   debian/abraflexi-matcher/usr/lib/abraflexi-matcher/*.php
	sed -i -e 's/\.\.\/.env/\/etc\/abraflexi\/matcher\.env/g'  debian/abraflexi-matcher/usr/lib/abraflexi-matcher/*.php
