#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	sed -i -e 's/..\/vendor/\/var\/lib\/php-flexibee-matcher/g' 	     debian/php-flexibee-matcher/usr/lib/php-flexibee-matcher/Init.php
	sed -i -e 's/..\/vendor/\/var\/lib\/php-flexibee-matcher/g' 	     debian/php-flexibee-matcher/usr/lib/php-flexibee-matcher/ParujFaktury.php
	sed -i -e 's/..\/vendor/\/var\/lib\/php-flexibee-matcher/g' 	     debian/php-flexibee-matcher/usr/lib/php-flexibee-matcher/ParujFakturyNew2Old.php
	sed -i -e 's/\.\./\/etc\/flexibee/g' 	     debian/php-flexibee-matcher/usr/lib/php-flexibee-matcher/Init.php
	sed -i -e 's/\.\./\/etc\/flexibee/g' 	     debian/php-flexibee-matcher/usr/lib/php-flexibee-matcher/ParujFaktury.php
	sed -i -e 's/\.\./\/etc\/flexibee/g' 	     debian/php-flexibee-matcher/usr/lib/php-flexibee-matcher/ParujFakturyNew2Old.php
